@font-face {
	font-family: "Montserrat";
	src: url("../public/fonts/Montserrat-VariableFont_wght.ttf")
		format("truetype");
	font-weight: normal;
	font-style: normal;
}

:root {
	--color-dark: #212121;
	--color-gray: #999999; /* Gray */
	--color-gray-light: #dddddd; /* Light gray */
	--color-primary: #8a2be2; /* Purple */
	--color-primary-light: #e8d4f9; /* Light purple */
	--color-yellow: #ffd700; /* Yellow */
	--color-red: #ff4500; /* Red */
	--color-blue: #4682b4; /* Blue */

	--width-scrollbar-radius: 10px;
	--border-scrollbar-radius: 4px;
	--color-scrollbar: var(--color-primary);
	--bg-color-scrollbar: var(--color-primary-light);
}

body {
	font-family: Montserrat, arial, monospace;
	min-width: 750px;
	margin: 0;
	padding: 2rem;
	box-sizing: border-box;

	&::-webkit-scrollbar {
		width: var(--width-scrollbar-radius);
		border-radius: var(--border-scrollbar-radius);
	}

	&::-webkit-scrollbar-track {
		background: var(--bg-color-scrollbar);
		border-radius: var(--border-scrollbar-radius);
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--color-scrollbar);
		border-radius: var(--border-scrollbar-radius);
		outline: 1px solid var(--color-scrollbar);
	}

	main {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		color: var(--color-dark);

		h2,
		h3 {
			margin: 0;
			text-align: center;
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		header {
			display: flex;
			flex-direction: column;
			gap: 1rem;

			#types {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
				gap: 1rem;

				li {
					display: flex;

					label {
						padding: 0.5rem 1rem;
						border: 1px solid var(--color-primary);
						border-radius: 8px;
						cursor: pointer;
						transition: all 0.3s;

						&:hover {
							background-color: var(--color-primary-light);
						}

						&:has(input:checked) {
							background-color: var(--color-primary);
							color: white;
						}
					}

					input {
						display: none;
					}
				}
			}
		}

		.damage {
			display: none;
			flex-direction: column;
			gap: 1rem;
			border-top: 1px solid var(--color-primary-light);
			padding-top: 1rem;

			> div {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;

				> div {
					display: flex;
					flex-direction: column;
					gap: 0.5rem;
				}

				#to ul {
					grid-template-areas: "zero zero_fifty one two";
					grid-template-columns: repeat(4, 1fr);
				}

				ul {
					display: grid;
					grid-template-areas: "zero zero_twenty-five zero_fifty one two four";
					grid-template-columns: repeat(6, 1fr);
					gap: 1rem;

					._0 {
						grid-area: zero;
					}

					._0_25 {
						grid-area: zero_twenty-five;
					}

					._0_5 {
						grid-area: zero_fifty;
					}

					._1 {
						grid-area: one;
					}

					._2 {
						grid-area: two;
					}

					._4 {
						grid-area: four;
					}

					li {
						display: flex;
						flex-direction: column;
						align-items: center;
						gap: 0.5rem;

						> div {
							display: flex;
							flex-wrap: wrap;
							justify-content: center;
							gap: 0.25rem;
						}
					}
				}
			}
		}
	}
}
